.buttonContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.form {
    width: 100%;
    padding-top: 2rem;
    gap: 2rem;
    display: flex;
    flex-direction: column;
}

.disclaimer {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #737373;
    margin-top: 0.5rem;
}

.buttons {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
}
