.button {
    display: flex;
    padding: 0.5rem 1rem;
    border-radius: var(--radius-sm);
    box-shadow: var(--shadow-sm);
    border: none;

    align-items: center;
    gap: 0.25rem;

    font-size: 1rem;
    font-weight: 500;
    font-family: var(--font-family);

    cursor: pointer;

    &.primary {
        background-color: var(--color-primary);
        color: var(--color-text-dark);

        &:hover:not(.disabled) {
            background-color: var(--color-primary--hover);
        }

        &:active:not(.disabled) {
            background-color: var(--color-primary--active);
        }
    }

    &.secondary {
        background-color: transparent;
        color: var(--color-text);
        border: 1px solid var(--color-primary);
        padding: 0.4375rem 0.9375rem;

        &:hover:not(.disabled) {
            background-color: var(--color-primary--hover);
            border: 1px solid var(--color-primary--hover);
            color: var(--color-text-dark);
        }

        &:active:not(.disabled) {
            background-color: var(--color-primary--active);
            border: 1px solid var(--color-primary--active);
            color: var(--color-text-dark);
        }
    }

    &.danger {
        background-color: var(--color-error);
        color: var(--color-text);

        &:hover:not(.disabled) {
            background-color: #dc2626;
        }

        &:active:not(.disabled) {
            background-color: #b91c1c;
        }
    }

    &.ghost {
        background-color: transparent;
        color: var(--color-text);
        box-shadow: none;

        &:hover:not(.disabled) {
            background-color: rgba(255, 255, 255, 0.1);
        }

        &:active:not(.disabled) {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }

    &.disabled {
        cursor: not-allowed;
        opacity: 0.7;
    }

    &.iconOnly {
        padding: 0.5rem;
        display: flex;
        align-items: center;

        &.secondary {
            padding: 0.4375rem;
        }
    }
}

.loader {
    animation: spin 0.75s linear infinite;

    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }
}
