.skeleton::before {
    position: absolute;
    animation: 5000ms ease-in-out skeleton infinite;
    background: rgba(255, 255, 255, 0.05);
    block-size: 100%;
    content: '';
    inline-size: 100%;
    will-change: transform-origin, transform, opacity;
    border-radius: var(--radius-sm);
}

.skeleton {
    position: relative;
    padding: 0;
    border: none;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: none;
    pointer-events: none;
    block-size: 1rem;
    inline-size: 100%;
    margin-block-end: 0.5rem;
    border-radius: var(--radius-sm);
}

@keyframes skeleton {
    0% {
        opacity: 0.3;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: left;
        transform-origin: left;
    }
    20% {
        opacity: 1;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: left;
        transform-origin: left;
    }

    28% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: right;
        transform-origin: right;
    }
    51% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: right;
        transform-origin: right;
    }
    58% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: right;
        transform-origin: right;
    }
    82% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: right;
        transform-origin: right;
    }
    83% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: left;
        transform-origin: left;
    }
    96% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: left;
        transform-origin: left;
    }
    100% {
        opacity: 0.3;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: left;
        transform-origin: left;
    }
}
